html, body{
    padding: 0;
    margin: 0;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;

    background: #3D3D3D;
}

nav{
    position: absolute;
    width: 100%;
    max-width: 1100;
    height: 68px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    background: #0077B6;
}

article{
    position: absolute;
    width: 45%;
    height: 40%;
    right: 0px;
    top: 50vh;
    

    background: #0077B6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 0px 0px 25px;
}

.texto_about{
    color: white;
    margin-left: 2%;
    margin-top: 10%;
    margin-right: 2%;
    text-align:justify;
}

footer{
    position: absolute;
    height: 46px;
    left: 0px;
    width: 100%;
    top: 100vh;
    
    background: #0077B6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div{
    position: absolute;
    width: 30%;
    
    height: 424px;
    left: -150px;
    top: 25%;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #0077B6;
    border-radius: 20px;
}

/*:hover, MUDAR A COR QUANDO PASSAR POR SIMA*/ 
.foto_perfil{
    display: block;
    position: absolute;
    width: 171px;
    height: 171px;
    align-items: center;
    
    left: 45%;
    top: 16px;
    border-radius: 100px;
    margin: auto;

    background: url(.jpg)
}

.pagina{
    position: absolute;
    width: 10%;
    height: 39px;
    left: 15%;
    top: 11px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;


    color: #FFFFFF;
}

.curriculo{
    left: 75%;
}

.texto{

    position: absolute;
    width: 15%;
    height: 10%;
    left: 3%;
    top: 25%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    

    text-align: center;

    color: white;
}

.icon{
    position: absolute;
    width: 2%;
    left: 2%;
    top: 15%;

    background: url(.png);
}

.github{
    left: 20%;    
}

.git{

    left: 18%;
}

.instagram{

    left: 38%;

}

.insta{

    left: 36%;
    }

.email{
    left: 57%;
}

.e-mail{
    left: 54%;
}

.whatsapp{
    left: 84%;
}

.whats{

    left: 82%;

}

h1{
    position: absolute;
    width: 100%;
    height: 46px;
    top: 190px;
    left: 40%;
    align-items: center;

    display: inline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;

    color: #FFFFFF;
}

h3{
    position: absolute;
    margin-top: 2%;
    align-items: center;
    width: auto;
    height: 10%;
    left: 37%;
   

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;


    color: #FFFFFF;
}

ul{
    position: absolute;
    width: 45%;
    height: 70%;
    left: 170px;
    top: 15%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    display: block;
    align-items: center;

    color: #FFFFFF;
}

picture{
    position: absolute;
    width: 20%;
    height: 150px;
    right: 0;
    top: 15%;

    background: #0077B6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 0px 0px 25px;
}

.cin{

    position: absolute;
    width: 100%;
    height: 65%;
    right: 0px;
    top: 30px;
    
    background: url(.png); 
}


@media (max-width: 1500px) {

    .pagina{
        left: 10%;
        font-size: 24px;
    }

    .curriculo{
        left: 70%;
    }

    h1{
        font-size: 28px;
        text-align: center;
        top: 26%;
        left: 39%;
    }

    ul{
        font-size: 16px;
        left: 40%;
    }

    h3{
        font-size: 22px;
    }

    div > h3{
        font-size: 18px;
        left: 50%;
    }

    .foto_perfil{
        display: block;
        left: 41%;
        height: 120px;
        width: 120px;
    }

    .icon{
        width: 3%;
        top:35%;
    }

    .texto{
        left: 9%;
        top: 26%;
        font-size: 8px;
    }
    .github{
        left: 31%;
    }

    .instagram{
        left: 58%;
    }

    .whatsapp{
        left: 84%;
        font-size: 7px;
    }

    div{
        height: 70%;
    }

}

@media (max-width: 426px) {

    nav{
        height: 50px;
    }

    .pagina{
        font-size: 18px;
    }

    .foto_perfil{
        height: 100px;
        width: 100px;
        align-items: center;
    }

    .texto_about{
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 11px;
    }

    article{
        height: 70%;
        top: 25%;

    }

    div{
        top: 25%;
        left: -50px;
        width: 50%;
        height: 55%;
    }

    div > h3{
        font-size: 12px;
        left: 40%;
    }

    article > h3{
        font-size: 12px;
    }

    ul{
        font-size: 10px;
        top: 8%;
        left: 25%;
    }

    h1{
        font-size: 20px;
        top: 15%;
        left: auto;
    }

    footer{
        height: 30px;
        bottom: 0vh;
    }

    .icon{
        width: 3%;
        top:35%;
    }

    .texto{
        font-size: 4px;
        left: 5%;
        top: 15%;
    }
    .github{
        left: 23%;
    }

    .git{
        left: 19%;
    }
    .email{
        left: 60%;
    }

    .e-mail{
        left: 56% ;
    }

    .instagram{
        left: 41%;
    }

    .insta{
        left: 39%;
    }

    .whatsapp{
        left: 85%;
        font-style: bold;
        font-size: 4px;
    }

    .whats{
        left: 83%;
    }
    picture{
        top: 9%;
        height: 10%;
    
    }
    .cin{
        
        top: 25%;
    }
}

@media (max-width: 376px) {

    .texto_about{
        font-size: 10px;
    }

    article{
        top: 30%;
        height: 67%;
    }
    
}

@media (max-width:320px) {

    .texto_about{
        font-size: 9.5px;
    }

    div{
        height: 59%;
    }

    div > h3{
        left: 34%;
    }

    article{
        height: 73%;
        top: 25%;
    }

    article > h3{
        margin-top: 0;
    }
    
    .email{
       font-size: 3.5px; 
    }

    .insta{
        left:38%
    }
}
